{
  "recommendations": [
    "charliermarsh.ruff",
    "ms-python.python",
    "ms-python.debugpy",
    "detachhead.basedpyright"
  ],
  "unwantedRecommendations": [
    "ms-python.vscode-pylance",
    "ms-python.black-formatter",
    "ms-python.isort",
    "ms-python.autopep8",
    "ms-python.flake8",
    "ms-python.pylint",
    "ms-python.mypy-type-checker"
  ]
}
