{
  "version": "0.2.0",
  "configurations": [
    {
      "name": "{{bin}}",
      "type": "lldb",
      "request": "launch",
      "cargo": {
        "args": ["build", "--bin={{bin}}", "--package={{crate}}"],
        "filter": { "name": "{{bin}}", "kind": "bin" }
      },
      "args": ["--help"],
      "cwd": "${workspaceFolder}",
      "envFile": "${workspaceFolder}/.env"
    },
    {
      "name": "{{bin}}: unit tests",
      "type": "lldb",
      "request": "launch",
      "cargo": {
        "args": ["test", "--no-run", "--bin={{bin}}", "--package={{crate}}"],
        "filter": { "name": "{{bin}}", "kind": "bin" }
      },
      "cwd": "${workspaceFolder}"
    },
    {
      "name": "{{crate}}: lib unit tests",
      "type": "lldb",
      "request": "launch",
      "cargo": {
        "args": ["test", "--no-run", "--lib", "--package={{crate}}"],
        "filter": { "kind": "lib" }
      },
      "cwd": "${workspaceFolder}"
    }
  ]
}
